# # global
PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1

# # backends
OLLAMA_MODEL_NAME=
OLLAMA_URL=http://ollama-instance:11434

ALLOW_ORIGINS=*
ALLOW_METHODS=*
ALLOW_HEADERS=*

UVICORN_PORT=10080

# # frontend
BACKEND_API_URL=http://fast-api-app:10080

STREAMLIT_PORT=10501

# # compose settings
COMPOSE_PROFILES=

# to launch ollama in compose
#COMPOSE_PROFILES=ollama
