# # global
PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1

# # backends
OLLAMA_MODEL_NAME=
OLLAMA_URL=http://ollama-instance:11434

ALLOW_ORIGINS=*
ALLOW_METHODS=*
ALLOW_HEADERS=*

UVICORN_PORT=10081

# # frontend
VITE_REACT_API_URL=http://localhost:10081

REACT_PORT=10173

# # compose settings
COMPOSE_PROFILES=

# to launch ollama in compose
#COMPOSE_PROFILES=ollama
