
:root {
    --body-bg: #191919;
    --content-bg: #302d2d;

    --text-color: #eae8e8;
}

body {
    background-color: var(--body-bg);
    margin: 0;
    padding: 0;

    font-family: Calibri, sans-serif;
}

h1, h2, p {
    color: var(--text-color);
}
